<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skill Labs - Assign student for Quiz</title>

	{{>fragments/links}}
	<link rel="stylesheet" href="../static/style/navigation-style.css">
	<!-- Page style -->
	<link rel="stylesheet" href="../static/style/assign-students-style.css">

</head>
<body onload="autocomplete(document.getElementById('searchInput'), {{studentList}}, '{{#quiz}}{{id}}{{/quiz}}')">

<!--Main Navigation-->
<header>

	{{>fragments/logout-btn}}
	{{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;" class="row">
	<div class="col-1"></div>
	<div class="container-fluid container-custom pt-4 table-responsive-lg col-9" style="padding-bottom: 40px;">

		<div class="modal-content">
			{{#quiz}}
			<div class="row">
				<div class="mb-3">
					<div class="d-flex align-items-center row">
						<div class="col-11">
							<div class="form-outline">
								<p id="title">Title: {{name}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="mb-3">
					<div class="col-12">
						<div class="form-outline">
							Description:
							{{#description}}{{description}}{{/description}}{{^description}}-{{/description}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="mb-3">
					<div class="d-flex row align-items-center">
						<div class="col-3">
							<div class="form-outline">
								Status: {{status}}
							</div>
						</div>
						<div class="col-9">
							{{#isReady}}
							<div class="">
								<input class="" type="checkbox" id="expired" onclick="makeExpired('{{id}}')" name="expired">
								<label class="" for="expired">Mark as Expired</label>
							</div>
							{{/isReady}}
						</div>
					</div>
				</div>
			</div>
			{{/quiz}}
		</div>


		<div class="modal-content">
			<div>
				<div class="row">
					<div class="col-12 label-custom">
						Assign students
					</div>
				</div>
				<br>
				<div class="autocomplete col-11 form-outline form-control">
					<input id="searchInput" type="text" name="students" placeholder="Type a name">
				</div>
			</div>
		</div>

		<div class="modal-content">
			<div class="row">
				<div class="col-11">
					<table id="dtBasicExample" class="table table-hover table-striped table-bordered">

						<tbody>
						{{#assignedStudents}}
						<tr>
							<td class="col-6">{{name}}</td>
							<td class="col-6">{{email}}</td>
						</tr>
						{{/assignedStudents}}
						</tbody>
					</table>
				</div>
				<div class="col-1 remove-buttons">
					{{#assignedStudents}}
					<div class="delete-icon" onclick="removeStudent('{{id}}', '{{#quiz}}{{id}}{{/quiz}}')">
						<i class="fa-solid fa-x"></i>
					</div>
					{{/assignedStudents}}
				</div>

			</div>
		</div>

	</div>
	{{>fragments/ready-quiz}}
</main>
<!--Main layout-->

</body>

<script type="text/javascript" src="../static/js/assign-students.js"></script>

</html>