<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Labs - Bookmarked Skills</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="/static/style/navigation-style.css">
    <link rel="stylesheet" href="/static/style/all-skills-style.css">
</head>
<body>
<!--Main Navigation-->
<header>
    {{>fragments/logout-btn}}
    {{>fragments/sidebar}}
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
    <div class="container-fluid container-custom pt-4">
        <h2>Bookmarked Skills</h2>
        <br>

        {{#noSkills}}
        <div class="no-bookmarks-text d-flex align-items-center justify-content-center">
            <h4>You haven't bookmarked any skills yet. Go to <a href="/all-skills/{{superuserId}}" class="link"><u>All Skills</u></a> to bookmark your favorite skills</h4>
        </div>
        {{/noSkills}}

        {{#bookmarkedSkills}}
        <div class="mb-4">
            <div class="d-flex align-items-center mb-2">
                <h4>{{category.name}}</h4>
                {{#category}}
                    {{>fragments/show-category-description}}
                {{/category}}
            </div>

            <div class="category-title-separator"></div>
            <div class="row">
                {{#skills}}
                <div class="card col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 col"
                     style="width: 320px; margin: 1rem 0.5rem; cursor: pointer;"
                     onclick="window.location.href='/skill-details/{{id}}/overview/{{superuserId}}'">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-title">
                                {{name}}
                            </div>
                            <button class="favorite-btn {{#isBookmarked}}active{{/isBookmarked}}" onclick="event.stopPropagation(); toggleFavorite('{{id}}', '{{superuserId}}')">
                                <i class="fa-bookmark {{#isBookmarked}}fas{{/isBookmarked}} {{^isBookmarked}}far{{/isBookmarked}}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{/skills}}
            </div>
        </div>
        {{/bookmarkedSkills}}
    </div>
</main>
<!--Main layout-->

<script src="../static/js/skill-favorites.js"></script>

</body>
</html> 