<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Labs - Dashboard</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/dashboard-style.css">

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/logout-btn}}
    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">

        <h2>Dashboard</h2>
        <br>

    </div>
</main>
<!--Main layout-->

</body>

<script type="text/javascript" src="../static/js/dashboard.js"></script>

</html>