<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skill Labs - My Quizzes</title>

	{{>fragments/links}}
	<link rel="stylesheet" href="/static/style/navigation-style.css">
	<!-- Page style -->
	<link rel="stylesheet" href="/static/style/quizzes-style.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</head>
<body>

<!--Main Navigation-->
<header>

	{{>fragments/logout-btn}}
	{{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
	<div class="container-fluid container-custom pt-4 table-responsive-lg">

		<h2>My Quizzes</h2>
		<br>

		<form action="/add-quiz/{{superuserId}}" method="POST">
			<button type="submit" class="btn btn-primary">
				<i class="fa-solid fa-plus fa-fw me-3"></i>New
			</button>
		</form>

		<br>

		<div class="row">
			<div class="justify-content-start col-1">
				<form action="/quizzes/drafted/{{superuserId}}" method="GET">
					<button type="submit"
							class="btn {{#drafted}}btn-primary{{/drafted}}{{^drafted}}btn-secondary{{/drafted}}">
						Drafted
					</button>
				</form>
			</div>
			<div class="justify-content-start col-1">
				<form action="/quizzes/assigned/{{superuserId}}" method="GET">
					<button type="submit"
							class="btn {{#assigned}}btn-primary{{/assigned}}{{^assigned}}btn-secondary{{/assigned}}">
						Assigned
					</button>
				</form>
			</div>
			<div class="justify-content-start col-1">
				<form action="/quizzes/expired/{{superuserId}}" method="GET">
					<button type="submit"
							class="btn {{#expired}}btn-primary{{/expired}}{{^expired}}btn-secondary{{/expired}}">
						Expired
					</button>
				</form>
			</div>
		</div>
		<br>

		{{>fragments/quizzes-table}}

	</div>
</main>
<!--Main layout-->
<script type="text/javascript" src="/static/js/quizzes.js"></script>
</body>

</html>