<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Labs - All Skills</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/all-skills-style.css">

</head>
<body onload="loadStars('{{studentId}}')">

<!--Main Navigation-->
<header>

    {{>fragments/logout-btn}}
    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">
        <h2>All Skills</h2>
        <br>

        {{#skillsByCategory.entrySet}}
        <div class="mb-4">
            <div class="d-flex align-items-center mb-2">
                <h3>{{key.name}}</h3>
                {{#key}}
                    {{>fragments/show-category-description}}
                {{/key}}
            </div>
            <div class="category-title-separator"></div>
            <div class="row">
                {{#getValue}}
                <div class="card col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 col" style="width: 440px; margin: 1rem 0.5rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <h5 class="card-title">{{name}}</h5>
                            </div>
                            <div class="col-1">
                                {{#hasDescription}}
                                    {{>fragments/show-skill-description}}
                                {{/hasDescription}}
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto" style="width: 110px">Interest</div>
                                <div class="col stars-div" id="{{name}}-int{{#interest}}-{{interest}}{{/interest}}"></div>
                                <div class="col-auto trash-can-div" id="{{name}}-int-trash-can" onclick="deleteEvaluation(this, '{{studentId}}')"></div>
                            </div>
                        </li>
                        <li class="list-group-item px-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto" style="width: 110px">Knowledge</div>
                                <div class="col stars-div" id="{{name}}-kno{{#knowledge}}-{{knowledge}}{{/knowledge}}"></div>
                                <div class="col-auto trash-can-div" id="{{name}}-kno-trash-can" onclick="deleteEvaluation(this, '{{studentId}}')"></div>
                            </div>
                        </li>
                        <li class="list-group-item px-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto" style="width: 110px">Experience</div>
                                <div class="col stars-div" id="{{name}}-exp{{#experience}}-{{experience}}{{/experience}}"></div>
                                <div class="col-auto trash-can-div" id="{{name}}-exp-trash-can" onclick="deleteEvaluation(this, '{{studentId}}')"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body"></div>
                </div>
                {{/getValue}}
            </div>
        </div>
        {{/skillsByCategory.entrySet}}
    </div>
</main>
<!--Main layout-->

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
<script type="text/javascript" src="../static/js/all-skills.js"></script>

</body>
</html>