<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skill Labs - Answer quiz</title>

	{{>fragments/links}}
	<link rel="stylesheet" href="/static/style/navigation-style.css">
	<!-- Page style -->
	<link rel="stylesheet" href="/static/style/quiz-form-style.css">
	<link rel="stylesheet" href="/static/style/answer-quiz-style.css">
</head>
<body>
<!--Main Navigation-->
<header>
	{{>fragments/sidebar}}
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;" class="row">
	<div class="col-1"></div>
	<div class="container-fluid container-custom pt-4 table-responsive-lg col-9" style="padding-bottom: 40px;">
		{{>fragments/quiz-form}}
	</div>
	{{^reviewMode}}
		{{>fragments/submit}}
	{{/reviewMode}}
	{{#reviewMode}}
	<div class="col-2"></div>
	{{/reviewMode}}
</main>
<!--Main layout-->

<script type="text/javascript" src="/static/js/answer-quiz.js"></script>

</body>
</html>