<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skill Labs - Assignments</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/assignments-style.css">

</head>
<body>
<!--Main Navigation-->
<header>

  {{>fragments/logout-btn}}
  {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
  <div class="container-fluid container-custom pt-4 table-responsive-lg">

	  <h2>Assignments</h2>
	  <br>

    {{#noQuizzes}}
    <div class="no-quizzes-text d-flex align-items-center justify-content-center">
      <h4>You have no quizzes assigned.</h4>
    </div>
    {{/noQuizzes}}

	  {{>fragments/quizzes-table}}
  </div>
</main>
<!--Main layout-->

<script type="text/javascript" src="../static/js/assignments.js"></script>

</body>
</html>