.error {
    color: #b60f1d;
}

table {
    margin-top: 20px;
}

@media (max-width: 1475px) {
    .remove-action-name {
        display: none;
    }

    .icon-spacing {
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

.form-outline .form-control {
    background-color: white;
}

@media (max-width: 700px) {
    .remove-description {
        display: none;
    }
}

i {
    cursor: pointer;
}

.fa-trash-can {
    color: #b42727;
}

#title {
    font-size: 40px;
}

#score {
    font-size: 40px;
}

#skillLabel {
    font-size: 28px;
}

body {
    background-color: #e9e8fa;
}

.modal-content {
    background-color: #f1f1f6;
    padding: 30px 0 30px 40px;
    margin: 1rem;
}

.correct {
    color: darkgreen;
}


