{{^noQuizzes}}
<table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th class="th-sm">Name</th>
    <th class="th-sm">Author</th>
    <th class="th-sm">Skill</th>
    <th class="th-sm">Created at</th>
    <th class="th-sm">Status</th>
    <th class="th-sm">Score</th>
    <th class="th-sm">Actions</th>
  </tr>
  </thead>

  <tbody>
  {{#quizList}}
  <tr>
    <td>
      {{quizName}}
      {{#description}}
      <br>
      <small>
        {{description}}
      </small>
      {{/description}}
    </td>
    <td class="col-2">{{superuserName}}</td>
    <td class="col-2">{{skillLabel}}</td>
    <td class="col-2">{{createdAt}}</td>
    <td class="col-1" {{#isExpired}}style="color: red;"{{/isExpired}} {{^isExpired}}style="color: green;"{{/isExpired}}><b>{{status}}</b></td>
    <td class="col-1">
      {{#score}}<b>{{score}}%</b>{{/score}}
      {{^score}}Not submitted{{/score}}
    </td>
    <td class="col-2">
      <div class="row">
        <!--				Answer btn			-->
        <div class="d-flex justify-content-center ">
            {{#canAnswer}}
              {{>fragments/answer-quiz}}
            {{/canAnswer}}
            {{#canReview}}
              {{>fragments/review-quiz}}
            {{/canReview}}
        </div>
      </div>
    </td>
  </tr>
  {{/quizList}}
  </tbody>
</table>
{{/noQuizzes}}
