<!-- Next btn -->
<div class="col-2 d-flex justify-content-end">
  <div style="position: fixed; padding-right: 100px; bottom: 0; padding-bottom: 50px;">
    <form id="submitForm" action="/check-answers/{{#quiz}}{{id}}{{/quiz}}/{{studentId}}" method="post">
      <div style="position: relative; min-height: 50px;">
        <div id="answersError" style="display: none;">
          <i class="fas fa-exclamation-circle me-1"></i>
          Please answer all questions before submitting
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- Next -->