<!-- Next btn -->
<div class="col-2 d-flex justify-content-end">
	<div style="position: fixed; padding-right: 100px; bottom: 0; padding-bottom: 50px;">
		<form id="nextForm" action="/next/{{quizId}}" method="post">
			<input type="hidden" id="selectedSkillInput" name="selectedSkill" value="">
			<div style="position: relative; min-height: 50px;">
				<div id="skillError">
					<i class="fas fa-exclamation-circle me-1"></i>
					Please select a skill before proceeding
				</div>
				<button type="submit" class="btn btn-primary">Next</button>
			</div>
		</form>
	</div>
</div>
<!-- Next -->