{{#noQuizzes}}
<div class="row">
	<div class="no-quizzes-text d-flex align-items-center justify-content-center">
		<h4>You don't have any
			{{#drafted}}drafted{{/drafted}}{{#expired}}expired{{/expired}}{{#assigned}}assigned{{/assigned}} quizzes
			yet.</h4>
	</div>
</div>
{{/noQuizzes}}

{{^noQuizzes}}
<table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">
	<thead>
	<tr>
		<th class="th-sm">Nr.</th>
		<th class="th-sm">Name</th>
		<th class="th-sm">Actions</th>
	</tr>
	</thead>

	<tbody>
	{{#quizList}}
	<tr>
		<td class="col-1">{{index}}</td>
		<td>
			{{name}}
			<br>
			<small>{{#description}}{{description}}{{/description}}</small>
		</td>
		<td class="col-5">
			<div class="row">

<!--				Details btn			-->
				{{#assigned}}
				<div class="d-flex justify-content-center col-3">
					{{>fragments/details}}
				</div>
				{{/assigned}}
				{{#expired}}
				<div class="d-flex justify-content-center col-6">
					{{>fragments/details}}
				</div>
				{{/expired}}
<!--				Edit btn			-->
				{{#drafted}}
				<div class="d-flex justify-content-center col-6">
					{{>fragments/edit-drafted}}
				</div>
				{{/drafted}}
				{{#assigned}}
				<div class="d-flex justify-content-center col-3">
					{{>fragments/edit-assigned}}
				</div>
				{{/assigned}}
<!--				Delete btn			-->
				{{#assigned}}
				<div class="d-flex justify-content-center col-3">
					{{>fragments/expire-quiz}}
				</div>
				<div class="d-flex justify-content-center col-3">
					{{>fragments/delete-quiz}}
				</div>
				{{/assigned}}
				{{^assigned}}
				<div class="d-flex justify-content-center col-6">
					{{>fragments/delete-quiz}}
				</div>
				{{/assigned}}
			</div>
		</td>
	</tr>
	{{/quizList}}
	</tbody>
</table>
{{/noQuizzes}}
