{{#noQuizzes}}
<div class="row">
	<div class="no-quizzes-text d-flex align-items-center justify-content-center">
		<h4>You don't have any
			{{#drafted}}drafted{{/drafted}}{{#expired}}expired{{/expired}}{{#assigned}}assigned{{/assigned}} quizzes
			yet.</h4>
	</div>
</div>
{{/noQuizzes}}

{{^noQuizzes}}
<table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">
	<thead>
	<tr>
		<th class="th-sm">Nr.</th>
		<th class="th-sm">Name</th>
		<th class="th-sm">Skill</th>
		<th class="th-sm">Created at</th>
		<th class="th-sm">Actions</th>
	</tr>
	</thead>

	<tbody>
	{{#quizList}}
	<tr>
		<td class="index">{{index}}</td>
		<td>
			<div class="row">
				<div class="col-10">
					<strong>{{name}}</strong>
					<br>
					<small>{{#description}}{{description}}{{/description}}</small>
				</div>
				<div class="col-2">
					{{#isPublic}}
						<span class="badge bg-success">Public</span>
					{{/isPublic}}
					{{^isPublic}}
						<span class="badge bg-secondary">Private</span>
					{{/isPublic}}
				</div>
			</div>
		</td>
		<td style="width: 100px;">
			<span class="skillLabel">
				{{#skillLabel}}{{skillLabel}}{{/skillLabel}}{{^skillLabel}}-{{/skillLabel}}
			</span>
		</td>
		<td class="createdAt">{{createdAt}}</td>
		<td>
			<div class="actions-container">
				{{#assigned}}
				<div class="action-btn">
					{{>fragments/details}}
				</div>
				{{/assigned}}
				{{#expired}}
				<div class="action-btn">
					{{>fragments/details}}
				</div>
				{{/expired}}
				{{#drafted}}
				<div class="action-btn">
					{{>fragments/edit-drafted}}
				</div>
				{{/drafted}}
				{{#assigned}}
				<div class="action-btn">
					{{>fragments/edit-assigned}}
				</div>
				{{/assigned}}
				{{#assigned}}
				<div class="action-btn">
					{{>fragments/expire-quiz}}
				</div>
				<div class="action-btn">
					{{>fragments/delete-quiz}}
				</div>
				{{/assigned}}
				{{^assigned}}
				<div class="action-btn">
					{{>fragments/delete-quiz}}
				</div>
				{{/assigned}}
			</div>
		</td>
	</tr>
	{{/quizList}}
	</tbody>
</table>
{{/noQuizzes}}
