<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="padding-top: 100px;">
	<div class="position-sticky">
		<div class="list-group list-group-flush mx-3 mt-4">

			<a href="/dashboard/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
       {{#dashboardActive}}active{{/dashboardActive}}" aria-current="true">
				<i class="fas fa-gauge-high fa-fw me-3"></i><span>Dashboard</span>
			</a>

			<a href="/quizzes/drafted/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
        {{#quizzesActive}}active{{/quizzesActive}}">
				<i class="fas fa-pen-to-square fa-fw me-3"></i><span>My Quizzes</span>
			</a>

			<a href="/public-quizzes/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
        {{#publicQuizzesActive}}active{{/publicQuizzesActive}}">
				<i class="fas fa-globe fa-fw me-3"></i><span>Public Quizzes</span>
			</a>

			<a href="/all-skills/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
        {{#allSkillsActive}}active{{/allSkillsActive}}">
				<i class="fas fa-brain fa-fw me-3"></i><span>All Skills</span>
			</a>

			<a href="/bookmarked-skills/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
        {{#bookmarkedSkillsActive}}active{{/bookmarkedSkillsActive}}">
				<i class="fas fa-bookmark fa-fw me-3"></i><span>Bookmarked Skills</span>
			</a>

			<a href="/students-self-evaluations/{{superuserId}}" class="list-group-item list-group-item-action py-2 ripple
        {{#studentsSelfEvaluationsActive}}active{{/studentsSelfEvaluationsActive}}">
				<i class="fas fa-user-graduate fa-fw me-3"></i><span>Students Evaluations</span>
			</a>
		</div>
	</div>
</nav>
<!-- Sidebar -->