<div class="dropdown">
    <button onclick="skillSelectorDropdownSearch()" class="dropbtn">Select skill</button>
    <span id="selectedSkill" class="selectedSkill {{^skillLabel}}no-skill{{/skillLabel}}">
        {{#skillLabel}}{{skillLabel}}{{/skillLabel}}
        {{^skillLabel}}No skill selected{{/skillLabel}}
    </span>
    <div id="skillDropdown" class="dropdown-content">
        <div>
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Search.." id="skillInput" onkeyup="filterFunction()">
        </div>
        <div class="options-container">
            {{#skills}}
                <p onclick="selectSkill('{{value}}', '{{label}}')">{{label}}</p>
            {{/skills}}
        </div>
    </div>
</div>