<div class="subtitle">
  <i class="fa-solid fa-angle-right"></i>
  <span>Assigned students</span>
</div>
<table id="dtBasicExample" class="dataTable table table-hover table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th class="th-sm">Name</th>
    <th class="th-sm">Email</th>
    <th class="th-sm">Year</th>
    <th class="th-sm">Program</th>
    <th class="th-sm">Domain</th>
  </tr>
  </thead>

  <tbody>
  {{#studentList}}
  <tr>
    <td class="">{{studentName}}</td>
    <td class="">{{studentEmail}}</td>
    <td class="">{{studentYear}}</td>
    <td class="">{{studentProgram}}</td>
    <td class="">{{studentDomain}}</td>
  </tr>
  {{/studentList}}
  </tbody>
</table>
