<div class="subtitle">
  <i class="fa-solid fa-angle-right"></i>
  <span>Submissions</span> ({{submissionsNumber}}/{{studentsNumber}})
</div>
{{#noQuizzes}}
<div class="row">
  <div class="">
    <h6>No submissions yet.</h6>
  </div>
</div>
{{/noQuizzes}}

{{^noQuizzes}}
<table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th class="th-sm">Nr.</th>
    <th class="th-sm">Name</th>
    <th class="th-sm">Email</th>
    <th class="th-sm">Year</th>
    <th class="th-sm">Program</th>
    <th class="th-sm">Domain</th>
    <th class="th-sm">Score</th>
    <th class="th-sm">Answers</th>
  </tr>
  </thead>

  <tbody>
  {{#studentListSubmitted}}
  <tr>
    <td class="">{{index}}</td>
    <td class="">{{studentName}}</td>
    <td class="">{{studentEmail}}</td>
    <td class="">{{studentYear}}</td>
    <td class="">{{studentProgram}}</td>
    <td class="">{{studentDomain}}</td>
    <td class="">{{score}}%</td>
    <td class="col-2">
      <div class="row">
        <!--				Answer btn			-->
        <div class="d-flex justify-content-center">
          {{>fragments/answers}}
        </div>
      </div>
    </td>
  </tr>
  {{/studentListSubmitted}}
  </tbody>
</table>
{{/noQuizzes}}
