<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Lab - User Management</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/user-management-style.css">

</head>
<body onload="domainSelectOptions()">

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 100px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">

        <div class="row">
            <a href="/users/students" class="d-flex justify-content-end col-6">Students</a>
            <a href="/users/admins" class="d-flex justify-content-start col-6">Admins</a>
        </div>

        {{#adminUsers}}
            {{>fragments/add-admin}}
        {{/adminUsers}}
        {{^adminUsers}}
            {{>fragments/add-student}}
        {{/adminUsers}}

        <table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">

            <thead>
            <tr>
                <th class="th-sm">Nr.</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Email</th>
                <th class="th-sm">Telephone</th>
                {{^adminUsers}}
                    <th class="th-sm">Program</th>
                    <th class="th-sm">Domain</th>
                    <th class="th-sm">Year</th>
                {{/adminUsers}}
                <th class="th-sm">Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#userList}}
            <tr>
                <td>{{index}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                {{^adminUsers}}
                    <td>{{program}}</td>
                    <td>{{domain}}</td>
                    <td>{{year}}</td>
                {{/adminUsers}}
                <td class="col-3">

                    <div class="row">
                        <div class="d-flex justify-content-end col-6">

                            {{#adminUsers}}
                                {{>fragments/edit-admin}}
                            {{/adminUsers}}
                            {{^adminUsers}}
                                {{>fragments/edit-student}}
                            {{/adminUsers}}

                        </div>

                        <div class="d-flex justify-content-start col-6">

                            {{#adminUsers}}
                                {{>fragments/delete-admin}}
                            {{/adminUsers}}
                            {{^adminUsers}}
                                {{>fragments/delete-student}}
                            {{/adminUsers}}

                        </div>
                    </div>
                </td>
            </tr>
            {{/userList}}
            </tbody>
        </table>

    </div>
    {{#duplicate}}
    <script>alert("User already exists!")</script>
    {{/duplicate}}
</main>
<!--Main layout-->

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
<script type="text/javascript" src="../static/js/user-management.js"></script>

</body>
</html>