.gradient-custom {
    /* fallback for old browsers */
    background: rgba(63, 53, 184, 0.72);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(63, 53, 184, 72), rgb(0, 227, 215, 89));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(63, 53, 184, 72), rgb(0, 227, 215, 89))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.error {
    color: #b60f1d;
}

.login-link:hover {
    color: #18317a;
}