<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Labs - Skills</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/skills-style.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/logout-btn}}
    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">

        <h2>Skills</h2>
        <br>

        <div class="d-flex">
            {{>fragments/add-skill}}
            {{>fragments/import-skills-excel}}
        </div>
        <br>

        <table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">

            <thead>
            <tr>
                <th class="th-sm">Nr.</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Category</th>
                <th class="th-sm remove-description">Description</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#skillList}}
            <tr>
                <td>{{index}}</td>
                <td class="col-2">{{name}}</td>
                <td class="col-2">{{category}}</td>
                <td class="remove-description">{{description}}</td>
                <td class="col-3">

                    <div class="row">
                        <div class="d-flex justify-content-end col-6">
                            {{>fragments/edit-skill}}
                        </div>

                        <div class="d-flex justify-content-start col-6">
                            {{>fragments/delete-skill}}
                        </div>
                    </div>
                </td>
            </tr>
            {{/skillList}}
            </tbody>
        </table>
    </div>
    {{#duplicate}}
    <script>alert("Skill already exists!")</script>
    {{/duplicate}}
</main>
<!--Main layout-->

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
<!-- Load scripts at the end of body -->
<script type="text/javascript" src="../static/js/skills.js"></script>

</body>
</html>