<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Labs - User Management</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/user-management-style.css">

</head>
<body onload="domainSelectOptions()">

<!--Main Navigation-->
<header>

    {{>fragments/logout-btn}}
    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 50px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">

        <div class="row">
            <div class="justify-content-start col-1">
                <form action="/users/admins" method="GET">
                    <button type="submit" class="btn {{#admins}}btn-primary{{/admins}}{{^admins}}btn-secondary{{/admins}}">
                        Admins</button>
                </form>
            </div>
            <div class="justify-content-start col-1">
                <form action="/users/students" method="GET">
                    <button type="submit" class="btn {{#students}}btn-primary{{/students}}{{^students}}btn-secondary{{/students}}">
                        Students</button>
                </form>
            </div>
            <div class="justify-content-start col-2">
                <form action="/users/professors-companies" method="GET">
                    <button type="submit" class="btn {{#superusers}}btn-primary{{/superusers}}{{^superusers}}btn-secondary{{/superusers}}">
                        Professors & Companies</button>
                </form>
            </div>
        </div>

        <br>

        {{#admins}}
            {{>fragments/add-admin}}
        {{/admins}}
        {{#students}}
            {{>fragments/add-student}}
        {{/students}}
        {{#superusers}}
            {{>fragments/add-superuser}}
        {{/superusers}}

        <table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">

            <thead>
            <tr>
                <th class="th-sm">Nr.</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Email</th>
                <th class="th-sm">Telephone</th>
                {{#students}}
                    <th class="th-sm">Program</th>
                    <th class="th-sm">Domain</th>
                    <th class="th-sm">Year</th>
                {{/students}}
                {{#superusers}}
                    <th class="th-sm">Type</th>
                {{/superusers}}
                <th class="th-sm">Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#userList}}
            <tr>
                <td>{{index}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                {{#students}}
                    <td>{{program}}</td>
                    <td>{{domain}}</td>
                    <td>{{year}}</td>
                {{/students}}
                {{#superusers}}
                <td class="th-sm">{{type}}</td>
                {{/superusers}}
                <td class="col-3">
                    <div class="row">
                        <div class="d-flex justify-content-end col-6">
                            {{#admins}}
                                {{>fragments/edit-admin}}
                            {{/admins}}
                            {{#students}}
                                {{>fragments/edit-student}}
                            {{/students}}
                            {{#superusers}}
                                {{>fragments/edit-superuser}}
                            {{/superusers}}
                        </div>
                        <div class="d-flex justify-content-start col-6">
                            {{#admins}}
                                {{>fragments/delete-admin}}
                            {{/admins}}
                            {{#students}}
                                {{>fragments/delete-student}}
                            {{/students}}
                            {{#superusers}}
                                {{>fragments/delete-superuser}}
                            {{/superusers}}
                        </div>
                    </div>
                </td>
            </tr>
            {{/userList}}
            </tbody>
        </table>

    </div>
    {{#duplicate}}
    <script>alert("User already exists!")</script>
    {{/duplicate}}
</main>
<!--Main layout-->

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
<script type="text/javascript" src="../static/js/user-management.js"></script>

</body>
</html>